    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><span style="color: #0F8F8FF"><strong>WYNC</strong></span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services"><span style="color:#">DISCOVER</span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio"><span style="">DIVE DEEP</span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about"><span style="color:#">How To</span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team"><span style="color:#">About</span></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact"><span style="color:#">Contact</span></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">WYN<span >C</span></div>
                <a href="#services" class="page-scroll btn btn-xl">Join the Movement</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Discover</h2>
                    <h3 class="section-subheading">Find & Discover Wynwood Street Art</h3>
                     <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
               <p id="notice"><%= notice %></p>

<h1>Dive Deep</h1>
<br>
<br>
<br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://localhost:3000/artworks/12">
                   <%= image_tag("artwork/elmac2.JPG", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://localhost:3000/artworks/11">
                    <%= image_tag("artwork/banksy1.JPG", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://localhost:3000/artworks/13">
                    <%= image_tag("artwork/kashink1.jpg", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://localhost:3000/artworks/14">
                   <%= image_tag("artwork/kazki1.JPG", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://localhost:3000/artworks/16">
                   <%= image_tag("artwork/kazki2.JPG", class: "img-responsive") %>
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="http://localhost:3000/artworks/15">
                   <%= image_tag("artwork/kazki3.JPG", class: "img-responsive") %>
                </a>
            </div>
        </div>
    </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How - To</h2>
                    <h3 class="section-subheading text-muted">Ok, Here's What You Do</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%= image_tag("about/streetart.jpg", class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><em>Step 1</em></h4>
                                    <h4 class="subheading">Look At Art!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Walk around. Click around. However you search, find some art you like! We'll show you where it is, who did it, and all the great info you need to connect!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("about/map.jpg", class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><em>Step 2</em></h4>
                                    <h4 class="subheading">Live Map @Geo-Tags</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We add our own tags to art so you know where to find 'em! Go to our Live Map and find pin drops of your favorite artwork and links to artist info! We try to update it as often as possible!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                 <%= image_tag("about/artist.png", class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><em>Step 3</em></h4>
                                    <h4 class="subheading">Artist Info</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We are constantly partnering with artists so you get the best of them and they get the best of you! Why not offer background to what you see? Why not find other pieces your current graffiti obssesion? Why not connect? We couldn't find a reason either.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%= image_tag("about/connect.png", class: "img-circle img-responsive") %>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><em>Last Step</em></h4>
                                    <h4 class="subheading">Spread The Word</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At WYNC, we're teeming with excitement and stand behind technology's adventure into transforming the creative fields. What soundcloud did for independent musicans, Viemo for indie-filmakers, we like to think WYNC could offer street artists in today's urban experiments.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Join
                                    <br>The
                                    <br>Story</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="team-member">
                         <%= image_tag("team/miguel.jpg", class: "img-responsive img-circle") %>
                        <h4>Miguel Salazar</h4>
                        <p class="text-muted">Founder</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-github-square"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="text-muted">WYNC seeks to leverage technology as a tool of empowerment for independent street artists in the Wynwood neighborhood of Miami, FL. A web-based application with plans to become a mobile utility, WYNC catalogs every sample of artwork in the district to its respective artist, his/her intent, social links, and a portfolio built from the artist's other community pieces. To construct this sorely lacking database and engage artists with their local patrons, WYNC also provides geolocation and archives images for included artwork. WYNC, as a result, defies street art's ephemerality and creates the UX potential for an enhanced art-viewing experience.</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Miguel Salazar 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-github-square"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>