<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DIVE DEEP</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <style>
     #map {
       width: 400px;
       height: 300px;
     }
   </style>
   <script src="https://maps.googleapis.com/maps/api/js"></script>
   <script>
     function initialize() {
       var mapCanvas = document.getElementById('map');
       var mapOptions = {
         center: new google.maps.LatLng(25.801160, -80.199968),
         zoom: 16,
         mapTypeId: google.maps.MapTypeId.ROADMAP
       }
       var map = new google.maps.Map(mapCanvas, mapOptions)

       var locations = [];
         locations.push ( {name:"Kazki 1", latlng: new google.maps.LatLng(25.801199, -80.200104)})
         

       for(var i=0;i<locations.length;i++ ) {
           var marker = new google.maps.Marker({position: locations[i].latlng,map:map, title:locations[i].name});

       }

       // var point = new google.maps.LatLng(25.801579, -80.202176);

     


       // var marker = new google.maps.Marker({
       //     position:point,
       //     map:map,
       // })

       var contentstring = '<div> Sup</div>';
       var infowindow = new google.maps.InfoWindow({
           content:contentstring
       })

       google.maps.event.addListener(marker,'click',function(){

         infowindow.open(map,marker);


       });
}

     

     google.maps.event.addDomListener(window, 'load', initialize);
   </script>
   
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href=""><h3 style= "font-family: Futura"><%= link_to 'Back', artworks_path %></h3></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        
                    </li>
                    <li>
                        
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
<p id="notice"><%= notice %></p>
<br>
<br>
<br>
    <div class="container">

        <div class="row">

            <div class="col-md-12">

                <div class="thumbnail" style="padding: 50px padding-bottom: 25px padding-top: 500px">
                  <%= image_tag(@artwork.location, class: "img-responsive") %>
<br>
                      <p>
  <strong>Artist:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Website:</strong>
  <%= @artwork.style %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<p>
  <h3><strong><center>Location</center></strong></h3>
<center><div id="map"></div</center>
</p>
                    </div> 
                </div>
                <div class="well">
                  <h3 class="yay">

<h3>New Comment</h3>

<%= render 'comments/form' %>

     <hr>

<h3>Comments:</h3>


<% @artwork.comments.each do |comment| %>
<p>
  <%= comment.textbox %> 
  (Added: <em><%= time_ago_in_words(comment.created_at) %> ago</em>)
<%= button_to 'like me!', upvote_comment_path(comment), method: :post %>  <%= pluralize(comment.votes.count, "vote") %>
</p>
<hr>
<% end %>

                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Miguel Salazar 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>

<%#= link_to 'Edit', edit_artwork_path(@artwork) %> |

