<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @artwork.title %>
</p>

<p>
  <strong>Style:</strong>
  <%= @artwork.style %>
</p>

<p>
  <strong>Location:</strong>
  <%= @artwork.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @artwork.description %>
</p>

<h3>Comments:</h3>

<% @artwork.comments.each do |comment| %>
<p>
	<%= comment.textbox %>
	<br>
	Added: <%= time_ago_in_words(comment.created_at) %> ago
</p>
<% end %>

<h3>New Comment</h3>

<%= render 'comments/form' %>

<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
